/*------------------------------------------------------------------
[Blog]
*/

.post {
	.post-title {
		font-size: 32px;
		margin-bottom: 5px;
	}
}

/* --- [Post Meta] --- */

.post-meta {
	list-style: none;
	padding: 0;
	margin: 0;

	> li {
		display: inline-block;
		color: $text-color;

		> a {
			color: $text-color;

			&:hover,
			&:focus {
				color: $clr-brand;
			}
		}

		& + li:before {
			content: "/\00a0";
			padding: 0 5px;
		}
	}
}

.post-masonry .post {
	padding: 15px;
	float: left;
	width: 20%;

	.post-title {
		font-size: 24px;
		margin: 0 0 20px;
	}

	.post-content {
		background: $clr-white;
		padding: 30px 25px;
	}
}

.post-masonry-4 .post {
	width: 25%;
}

/* --- [Tags] --- */

.tags a {
	display: inline-block;
}

/* --- [Social Icons] --- */

.post-social.social-icons {
	text-align: center;

	> li > a {
		margin: 0 10px 15px;
	}
}

/* --- [Comments] --- */

.comment {
	position: relative;
	margin: 0 0 70px;
}

.comment-avatar {
	position: relative;
	float: left;
	z-index: 1;

	> img {
		border-radius: 50%;
		height: 60px;
		width: 60px;
	}
}

.comment-content {
	position: relative;
	margin: 0 0 0 80px;

	h6 {
		margin: 0
	}

	.comment-meta {
		list-style: none;
		font-size: 12px;
		margin: 0 0 10px;
		padding: 0;

		> li {
			display: inline-block;

			> a {
				color: $text-color;

				&:hover,
				&:focus {
					color: $clr-brand;
				}
			}
		}
	}
}

.reply-title,
.comments-title {
	margin: 0 0 40px;
}

.comments,
.comment-respond {
	border-top: 1px solid $clr-white-dark;
	padding: 40px 0 0;
}

/*------------------------------------------------------------------
[Blog Media Queries]
*/

@media (max-width: 1200px) {

	.post-masonry .post {
		width: 33.333333%;
	}

}

@media (max-width: 991px) {

	.post-masonry .post {
		width: 50%;
	}

}

@media (max-width: 767px) {

	.post-masonry .post {
		width: 100%;
	}

}

@media (min-width: 768px) {

	.comment-reply {
		margin-left: 80px;
	}

}

