/*------------------------------------------------------------------
[Footer]
*/

.footer,
.footer-bottom {
	position: relative;
	background: lighten($clr-black, 5%);

	a {
		color: $clr-white;

		&:hover,
		&:focus {
			color: $clr-brand;
		}
	}
}

.footer {
	padding: 90px 0 40px;
	color: $clr-white;

	h1, .h1,
	h2, .h2,
	h3, .h3,
	h4, .h4,
	h5, .h5,
	h6, .h6 {
		color: $clr-white;
	}
}

.footer-bottom {
	border-top: 1px solid rgba($clr-white, 0.05);
	padding: 15px 0;

	p, ul {
		margin: 0;
	}

	.widget {
		margin: 10px 0;
	}

	.social-icons {
		text-align: right;
		padding: 0;
	}

	.social-icons > li > a {
		margin: 0 20px 0 0;
		opacity: 0.5;

		&:hover,
		&:focus {
			opacity: 1;
		}
	}
}

@media (max-width: 991px) {

	.footer-bottom  .widget,
	.footer-bottom  .social-icons {
		text-align: center;
	}

}




