/*------------------------------------------------------------------
[Gallery]
*/

.filters {
	text-align: center;
	list-style: none;
	padding: 0;
	margin: 0 0 35px;

	> li {
		display: inline-block;
		padding: 0 15px 10px;

		a {
			color: $text-color;

			&:hover,
			&.current {
				color: $clr-brand;
			}
		}
	}
}

.row-gallery {
	margin-left: -7.5px;
	margin-right: -7.5px;
}

.gallery {
	padding: 7.5px 0;
}

.gallery-item {
	padding: 7.5px;
	float: left;
	width: 20%;

	&.large {
		width: 40%;
	}

	&:hover {

		.gallery-overlay,
		.gallery-caption {
			opacity: 1;
		}

		.gallery-caption {
			transform: translateY(-50%);
		}
	}
}

.gallery-wrapper {
	background-size: cover;
	background-position: 50%;
	position: relative;
	padding-top: 100%;
}

.gallery-item.tall .gallery-wrapper {
	padding-top: 200%;
	padding-top: calc(200% + 15px);
}

.gallery-overlay {
	background: rgba($clr-black, 0.9);
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	opacity: 0;
	z-index: 1;
	transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1);
}

.gallery-caption {
	transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1);
	position: absolute;
	padding: 40px;
	width: 100%;
	top: 50%;
	opacity: 0;
	text-align: center;
}

.gallery-title {
	color: $clr-white;
	margin: 0;
}

.gallery-subtitle {
	font-size: 13px;
}

.gallery-link {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
	z-index: 2;
}

/*------------------------------------------------------------------
[Gallery Media Queries]
*/

@media (max-width: 1200px) {

	.gallery-item {
		width: 25%;

		&.large {
			width: 50%;
		}
	}

}

@media (max-width: 991px) {

	.gallery-item {
		width: 50%;

		&.large {
			width: 100%;
		}
	}

}

@media (max-width: 767px) {

	.gallery-item {
		width: 100%;
	}

}