/*------------------------------------------------------------------
[Header & Navigation]
*/

.header.headroom--top {
	background: transparent;
}

.header.headroom--pinned {
	transform: translateY(0);
}

.header.headroom--unpinned {
	transform: translateY(-100%);
}
.header.one-page-header.headroom--unpinned {
	transform: translateY(0);
}

.header {
	position: fixed;
	box-shadow: inset 0 -1px 0 rgba($clr-white, 0.1);
	z-index: 1000;
	height: 80px;
	width: 100%;
	transition: height 0.3s ease-out, background 0.3s ease-out, box-shadow 0.3s ease-out, transform 0.5s;

	&.headroom--not-top {
		background-color: $header-bg;
		height: 60px;
	}

	&.header-dark {
		background-color: $header-bg;
	}

	.container {
		position: relative;
		display: table;
		height: 100%;
	}
}

.nav-row {
	position: relative;
}

.inner-header {
	vertical-align: middle;
}

.inner-nav {
	text-align: center;
}

.extra-nav,
.inner-header {
	min-width: 127px;
}

.nav-toogle,
.inner-header,
.inner-navigation {
	display: table-cell;
	height: 100%;
}

.inner-nav,
.inner-navigation {
	width: 100%;
}

.inner-navigation-inline {
	display: inline-table;
	height: 100%;
	width: 100%;
}

.inner-nav,
.extra-nav {
	display: table-cell;
	height: 100%;
}

.extra-nav {
	white-space: nowrap;
}

.nav-toogle {
	display: none;
}

.inner-nav > ul,
.extra-nav > ul {
	list-style: none;
	height: 100%;
	padding: 0;
	margin: 0;

	> li {
		display: inline-block;
		height: 100%;

		> a {
			display: block;
			padding: 0 15px;
			line-height: 24px;
			color: $header-link-clr;
			height: 100%;

			&:hover,
			&.active {
				color: $header-link-clr-hvr;
			}

			&::after,
			&::before {
				content: "";
				display: block;
				height: 50%;
				    height: 17px;
				height: calc(50% - 12px);
			}
		}
	}
}

.has-submenu.submenu-open > a {
	color: $header-link-clr-hvr;
}

.extra-nav > ul {
	border-left: 1px solid rgba($clr-white, 0.1);
	padding-left: 10px;
	margin-left: 20px;

	> li > a {
		font-size: 16px;
	}
}

.has-submenu.submenu-left {
	position: relative;

	.submenu {
		right: 0;
	}
}

.submenu {
	border-top: 2px solid $clr-brand;
	list-style: none;
	padding: 0;
	margin: 0;

	.submenu {
		left: 100%;
		top: -14px;
	}

	li {
		position: relative;

		> a {
			display: block;
			transition: all 0.3s ease-out;
			padding: 8px 20px 8px 20px;
			color: $submenu-link-clr;

			&:hover {
				background: rgba(34, 34, 34, 0.3);
				padding-left: 25px;
				color: $submenu-link-clr-hvr;
			}
		}
	}

	.nav-box,
	.submenu-title {
		padding: 8px 20px;
	}

	.submenu-title {
		display: block;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 12px;
		color: $submenu-link-clr-hvr;
	}

	.has-submenu.submenu-open > a {
		background: rgba(34, 34, 34, 0.3);
		color: $submenu-link-clr-hvr;
	}
}

.submenu {
	position: absolute;
	background-color: $submenu-bg;
	padding: 12px 0;
	min-width: 180px;
	opacity: 0;
	z-index: 1030;
	visibility: hidden;
	text-align: left;
	font-size: 13px;
	color: $submenu-link-clr;
	top: 100%;

	h1, .h1,
	h2, .h2,
	h3, .h3,
	h4, .h4,
	h5, .h5,
	h6, .h6 {
		color: $submenu-link-clr-hvr;
	}

	hr {
		border-color: rgba($clr-white, 0.1);
	}
}

.submenu-open > .submenu {
	visibility: visible;
	opacity: 1;
}

.submenu-mega {
	background-size: cover;
	display: table;
	width: 100%;
	right: 0;
	left: 0;

	> li {
		display: table-cell;
		vertical-align: top;
		width: 25%;

		&:not(:last-child) {
			border-right: 1px solid rgba(lighten($header-bg, 15%), 0.3);
		}

		> ul {
			list-style: none;
			padding: 0 0;
			margin: 0;
		}
	}
}

.nav-box .form-control {
	width: auto;
}

.nav-cart-table {
	margin: 0;

	> tbody > tr > td {
		vertical-align: middle;
		padding: 10px 0;
		border: 0;
	}

	> tbody > tr:not(:last-child) > td {
		border-bottom: 1px solid rgba(lighten($header-bg, 15%), 0.3);
	}

	> tbody > tr > td:first-child {
		padding-right: 16px;
		width: 76px;

		> img {
			max-width: 60px;
			width: 60px;
		}
	}

	.nav-cart-title {
		display: block;
		color: $submenu-link-clr;
		margin: 0 0 5px;

		&:hover {
			color: $submenu-link-clr-hvr;
		}
	}
}

@media (min-width: 992px) {

	.inner-navigation.collapse {
		display: table-cell !important;
	}

}

@media (max-width: 991px) {

	.header {
		background: $header-bg !important;
	}

	.nav-toogle {
		display: table-cell;
		vertical-align: middle;
		text-align: right;
	}

	.inner-navigation, .inner-navigation-inline, .inner-nav, .extra-nav {
		height: auto;
	}

	.inner-nav ul > li,
	.extra-nav ul > li {
		display: block;
		height: auto;

		> a {
			display: block;

			&::after,
			&::before {
				content: none;
			}
		}
	}

	.inner-navigation {
		position: absolute;
		background: $submenu-bg;
		max-height: 340px;
		width: 100%;
		left: 0;
		top: 100%;

		&.in {
			overflow-y: auto;
		}
	}

	.inner-navigation-inline {
		display: block;
		padding: 30px 15px;
	}

	.inner-nav,
	.extra-nav {
		text-align: left;
		display: block;
	}

	.extra-nav ul {
		border: 0;
		padding: 0;
		margin: 0;
	}

	.inner-navigation.collapse {
		display: none;

		&.in {
			display: block;
		}
	}

	.inner-nav > ul > li > a,
	.extra-nav > ul > li > a,
	.submenu li > a,
	.submenu > li > a {
		padding: 10px 0;
		box-shadow: inset 0 -1px 0 rgba($clr-white, 0.1);

		&:hover {
			background: transparent;
			padding: 10px 0;
		}
	}

	.submenu .nav-box,
	.submenu .submenu-title {
		padding: 20px 0 10px;
	}

	.submenu .has-submenu.submenu-open > a {
		background: transparent;
	}

	.submenu {
		border: 0;
		padding: 0 0 0 15px;
	}

	.submenu,
	.submenu .submenu,
	.submenu.submenu-mega {
		background: transparent;
		background-image: none !important;
		display: none;
		margin: 0;
	}

	.submenu-open > .submenu {
		position: static;
		display: block !important;
	}

	.submenu-mega > li:not(:last-child) {
		border: 0;
	}

	.submenu-mega > li {
		display: block;
		width: 100%;
		padding: 0;
	}

	.nav-box .form-control {
		width: 100%;
	}

}

@media (max-width: 767px) {

	.header .container {
		width: 100%;
	}

	.inner-navigation-inline {
		display: block;
	}

}
