/*------------------------------------------------------------------
[Shop]
*/

.product-slider .item img {
	display: block;
	width: 100%;
	height: auto;
}

.product-slider .owl-pagination {
	margin: 10px -5px 0;
}

.product-slider .owl-page {
	display: inline-block;
	margin: 5px 5px 0;
}

.product-slider .owl-controls .item-link {
	position: relative;
	display: block;
	width: 90px;
	height: 90px;
	outline: none;
	opacity: 0.6;
}

.product-slider .owl-controls .item-link:focus {
	outline: none;
}

.product-slider .owl-controls .active .item-link {
	opacity: 1;
}

.product-slider .owl-controls .owl-page span {
	display: none;
}

/*------------------------------------------------------------------
[Stars Rating]
*/

.star-rating {
	font-family: FontAwesome;
	color: #f1c40f !important;
}

.star-rating-1:after,
.star-rating-2:after,
.star-rating-3:after,
.star-rating-4:after,
.star-rating-5:after {
	color: #f1c40f !important;
}

.star-rating-1:after {
	content: "\f005\20\f006\20\f006\20\f006\20\f006";
}

.star-rating-2:after {
	content: "\f005\20\f005\20\f006\20\f006\20\f006";
}

.star-rating-3:after {
	content: "\f005\20\f005\20\f005\20\f006\20\f006";
}

.star-rating-4:after {
	content: "\f005\20\f005\20\f005\20\f005\20\f006";
}

.star-rating-5:after {
	content: "\f005\20\f005\20\f005\20\f005\20\f005";
}

/*------------------------------------------------------------------
[Product Description]
*/

.product-description .social-icons {
	text-align: right;
	padding: 9.5px 0;

	> li:last-child > a {
		margin-right: 0;
	}
}

@media (max-width: 991px) {

	.product-description .social-icons {
		text-align: center;
		padding: 20px 0;
	}

}

@media (max-width: 767px) {

	.product-description {
		margin-top: 70px;
	}

}

/*------------------------------------------------------------------
[Reviews]
*/

.reviews {
	margin: 0 0 70px;
}

.reviews-title,
.reviews-reply-title {
	margin: 0 0 40px;
}

/*------------------------------------------------------------------
[Shop Cart]
*/

.cart-table {
	border: 1px solid $clr-white-darken;

	> thead > tr > th,
	> tbody > tr > th,
	> tfoot > tr > th,
	> thead > tr > td,
	> tbody > tr > td,
	> tfoot > tr > td {
		border: 0;
		border-top: 1px solid $clr-white-darken;
		padding: 20px;
		vertical-align: middle;
	}

	.cart-remove {
		text-align: center;

		a {
			color: $text-color;
		}
	}

	.col-thumbnail {
		width: 100px;
	}
}

.cart-table .form-control {
	max-width: 80px;
}

.cart-thumbnail {
	max-width: 80px;
}

@media screen and (max-width: 767px) {

	.table-responsive {
		border: 1px solid $clr-white-darken;

		.cart-table {
			border: 0;
		}
	}

}

/*------------------------------------------------------------------
[Shop Grid Items]
*/

.shop-item {
	margin: 0 0 35px;
}

.shop-item-image {
	position: relative;
	overflow: hidden;
	margin: 0 0 20px;

	img {
		width: 100%;
	}

	&:hover .shop-item-hidden {
		transform: translateY(-100%);
	}
}

.shop-item-hidden {
	position: absolute;
	width: 100%;
	top: 100%;
	transition: all 0.3s ease-in-out 0s;
}



