/*------------------------------------------------------------------
[Progress Bars]
*/

.progress {
	background-color: $clr-white-darken;
	border-radius: 4px;
	box-shadow: none;
	height: 4px;
	margin-bottom: 20px;
	overflow: visible;
}

.progress-bar {
	position: relative;
	background-color: $clr-brand;
	border-radius: 28px;
	box-shadow: none;
	color: $clr-black-lighter;
}

.progress-title {
	text-align: left;
	margin: 0 0 10px;
	padding: 0;
}

.progress-bar > span {
	position: absolute;
	padding: 4px 0px;
	display: block;
	top: -27px;
	right: 0;
	opacity: 0;
	line-height: 12px;
	font-size: 12px;
}

.progress-bar.progress-bar-success {
	background-color: #5cb85c;
}

.progress-bar.progress-bar-info {
	background-color: #5bc0de;
}

.progress-bar.progress-bar-warning {
	background-color: #f0ad4e;
}

.progress-bar.progress-bar-danger {
	background-color: #d9534f;
}