/*------------------------------------------------------------------
[Breadcrumb]
*/

.breadcrumb {
	text-align: right;
	background: none;
	padding: 9.5px 0;
	margin: 0;
}

.breadcrumb a {
	color: $text-color;

	&:hover,
	&:focus {
		color: $clr-brand;
	}
}

.breadcrumb > li + li:before {
	color: $clr-gray;
	padding: 0 8px;
}

.breadcrumb > .active {
	color: $clr-gray;
	opacity: 0.9;
}

@media (max-width: 767px) {

	.breadcrumb {
		text-align: center;
	}

}