/*------------------------------------------------------------------
[Counters]
*/

.counter {
	text-align: center;
	padding: 20px 0;

	.counter-timer {
		font-size: 40px;
	}

	.counter-title {
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 15px;
	}
}

.counter.counter-small {
	text-align: left;

	.counter-timer {
		font-size: 18px;
	}

	.counter-title {
		text-transform: none;
		letter-spacing: 0;
		font-size: 14px;
		margin: 0;
	}
}

