/*------------------------------------------------------------------
[Date and Time Picker]
*/

.date-group {
	position: relative;
}

.datepicker-days .old.day,
.datepicker-days .new.day {
	opacity: 0.7;
}

.datepicker-days .active.day,
.datepicker-days .today.active.day {
	background: $clr-brand !important;
}

.datepicker-days .today.day {
	background:  #eee !important;
}

.datepicker-days {
	.table-condensed>thead>tr>th,
	.table-condensed>tbody>tr>th,
	.table-condensed>tfoot>tr>th,
	.table-condensed>thead>tr>td,
	.table-condensed>tbody>tr>td,
	.table-condensed>tfoot>tr>td {
		padding: 5px 8px;
	}
}
