/*------------------------------------------------------------------
[Forms]
*/

.form-control {
	border: 0;
	box-shadow: none;
	border-radius: 0px;
	background-color: #EFEFEF;
	color: $text-color;
	font-size: 14px;
	padding: 12px;
	height: 44px;

	&:focus {
		border-color: $clr-brand;
		box-shadow: none;
	}
}

.form-group {
	margin-bottom: 20px;
}

/* --- [Form Sizes] --- */

.input-lg {
	height: 47px;
	font-size: 15px;
}

.input-sm {
	height: 39px;
	font-size: 13px;
}


