/*------------------------------------------------------------------
[Tables]
*/

.table {

	> thead > tr > th {
		border-bottom: 0;
	}

	> thead > tr > th,
	> tbody > tr > th,
	> tfoot > tr > th {
		font-weight: normal;
	}
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
	border-top: 1px solid $clr-white-darken;
	padding: 12px;
}

.table-bordered {
	border-color: $clr-white-darken;

	> thead > tr > th,
	> tbody > tr > th,
	> tfoot > tr > th,
	> thead > tr > td,
	> tbody > tr > td,
	> tfoot > tr > td {
		border-color: $clr-white-darken;
	}
}

@media screen and (max-width: 767px) {

	.table-responsive {
		margin-bottom: 0;
		border: 0;
	}
}






