/*------------------------------------------------------------------
[Tabs and Accordions]
*/

.nav-tabs {
	border: 0;

	> li {
		display: inline-block;
		float: none;
		margin: 0;

		> a {
			border: 0;
			padding: 0 30px 0 0;
			font-family: $headings-font-family;
			font-weight: $headings-font-weight;
			font-size: 20px;
			color: $text-color;

			&:hover,
			&:focus {
				background: none;
				color: $headings-clr;
			}
		}
	}
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	border: 0;
	background: none;
	color: $headings-clr;
}

.nav-tabs + .tab-content {
	border: 0;
	padding: 20px 0;
	margin: 30px 0 0;

	*:last-child {
		margin-bottom: 0;
	}
}

.panel-heading a {
	position: relative;
	display: block;
}

.panel-title {
	font-size: 18px;
}

.panel-default > .panel-heading {
	background: transparent;
	border: 0;
	border-top: 1px solid $clr-white-darken;
	border-radius: 0;
	padding: 20px 15px;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
	border-top-color: $clr-white-darken;
}

.panel-heading a:after{
	position: absolute;
	content: "\f107";
	top: 50%;
	right: 0px;
	margin-top: -5px;
	font-family: "FontAwesome";
	font-size: 11px;
	line-height: 1;
}

.panel-heading a.collapsed:after{
	content: "\f105";
}

.panel-group .panel+.panel {
	margin-top: 0;
}

.panel-group .panel {
	border: 0;
	border-radius: 0;
	box-shadow: none;
}

.panel-group .panel:last-child {
	border-bottom: 1px solid $clr-white-darken;
}