/*------------------------------------------------------------------
[Testimonials]
*/

.testimonial-image img {
	border-radius: 100%;
	width: 64px;
	height: 64px;
}

.testimonial {
	font-size: 24px;
	margin-bottom: 25px;
}

.testimonial-image {
	margin-bottom: 15px;
}

.testimonial-author {
	margin-bottom: 20px;
}

.owl-prev,
.owl-next {
	line-height: 1;
	font-size: 32px;
	display: inline-block;
	margin: 20px 0 0;

	:hover {
		opacity: 0.7;
	}
}

