/*------------------------------------------------------------------
[Typography]
*/

a {
	color: $clr-brand;
	transition: all 0.3s ease-out;

	&:hover,
	&:focus {
		outline: 0;
		text-decoration: none;
		color: $clr-brand-hvr;
	}

	h1 &, .h1 &,
	h2 &, .h2 &,
	h3 &, .h3 &,
	h4 &, .h4 &,
	h5 &, .h5 &,
	h6 &, .h6 & {
		color: $headings-clr;
	}

}

p,
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
blockquote {
	margin: 0 0 20px;
}

h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	margin: 0 0 10px;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-family: $headings-font-family;
	line-height: $headings-line-height;
	font-weight: $headings-font-weight;
	color: $headings-clr;
}

h1, .h1 {
	font-size: 48px;
}

h2, .h2 {
	font-size: 36px;
}

h3, .h3 {
	font-size: 32px;
}

h4, .h4 {
	font-size: 28px;
}

h5, .h5 {
	font-size: 24px;
}

h6, .h6 {
	font-size: 18px;
}

blockquote {
	font-family: $headings-font-family;
	line-height: $headings-line-height;
	font-weight: $headings-font-weight;
	font-size: 26px;
	color: $headings-clr;
	border: 0;
	text-align: center;
	padding: 35px 0;
}

.lead {
	line-height: 1.8;
	font-weight: 400;
	font-size: 16px;
}

.color-white {
	color: $clr-white !important;
}

[class*="color-"] *:not(.btn) {
	color: inherit !important;
}

[class*="color-"] a:not(.btn) {
	color: inherit !important;
}

[class*="color-"] a:not(.btn):hover,
[class*="color-"] a:not(.btn):focus {
	opacity: 0.7;
}








