// Cleafix
@mixin clearfix() {

	&:before,
	&:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}

// Remove margin bottom from last children
@mixin hide_last_margin() {

	> *:last-child {
		margin-bottom: 0;
	}
}

// Button variants
@mixin button-variant($color, $background, $border) {
	background-color: $background;
	border-color: $border;
	color: $color;

	&:hover,
	&:focus {
		background-color: darken($background, 5%);
		border-color: darken($background, 5%);
		color: $color;
	}

	&.btn-outline {
		background: transparent;
		border-color: $border;
		color: $background;

		&:hover,
		&:focus {
			background: $background;
			color: $color;
		}
	}
}

