//== Colors
//
//##

$clr-gray:                                #898989;

$clr-white:                               #ffffff;
$clr-white-dark:                          #f5f5f5;
$clr-white-darken:                        #eeeeee;

$clr-black:                               #0d0d0d;
$clr-black-light:                         #222222;
$clr-black-lighter:                       #333333;

$clr-brand:                               #c78f53;
$clr-brand-hvr:                           darken($clr-brand, 10%);


//== Scaffolding
//
//## Settings for some of the most global styles.

$body-bg:                                 $clr-white;
$text-color:                              $clr-gray;


//== Typography
//
//##

$base-font-family:                        "Roboto Slab", Arial, serif;
$base-line-height:                        1.8;
$base-font-size:                          14px;

$headings-font-family:                    "Suranna", Arial, serif;
$headings-font-weight:                    400;
$headings-line-height:                    1.4;
$headings-clr:                            $clr-black-light;


// Point at which the nav begins collapsing,
// this value must be changed in "assets/js/submenu-fix.js" file also

$nav-breakpoint:                          991px;


$header-bg:                               $clr-black;

$header-link-clr:                         $clr-white;
$header-link-clr-hvr:                     $clr-brand;


$submenu-bg:                              $clr-black;

$submenu-link-clr:                        lighten($clr-gray, 5%);
$submenu-link-clr-hvr:                    $clr-white;












